$text-color= #000000;
$bg_blue=#D4E6FA;
$bg_pink=#FAD7D4;
$bg_line=#BDC7C7;
/*#region navigation*/
/*#region background*/
$nav-background-color= #fffff;
$nav_background-color_hover= #123456;
$nav_background-color_active= #fedcba;
$nav_dropdown_background-color= hsl(120, 81%, 96%);
$nav_dropdown_border-left-color= #cee3ce;
$nav_height=10rem;
$nav_link-shadow-color= #444
/*#endregion*/
/*#region text*/
$nav_text-color= #000000;
$nav_text-color_hover= #abcdef;
$nav-text-color-active= #654321;
$nav_text_font-size= 17px;
$nav_text_padding= 14px 16px;
$nav_border-top= 1px solid #333;
/*#endregion*/
/*#region hamburger*/
$nav_hamburger_size= 1.2em;
$nav_hamburger_padding= 0px;
/*#endregion*/
/*#endregion*/


$link_size=4rem;
$link_background_color=#ffffff;

$font-size=12pt;
$font-size_big=16pt;