// New Colors

$primary-text-color = #000;
$secondary-text-color = #fff;

$primary-background-color = #fff;
$secondary-background-color = #8ab4de;
$dark-background-color = #373737;
$light-background-color = #fafafa;
$button-area-background-color = #cce0f4;

$burgermenu-background-color = #8ab4de;
$burgermenu-light-background-color = #fafafa;
$burgenmenu-dark-text-color = #000;
$burgenmenu-light-text-color = #fff;
$burgermenu-hover-color = #324960;

$box-shadow-color = #324960;
$description-text-color = #324960;
$description-secondary-text-color = #8ab4de;

$top-header-nav-background-color = #fff;
$nav-border-color = #8ab4de;

$link-hover-text-color = #8ab4de;

$bottom-area-link-hover-background-color = #324960;
$bottom-area-link-hover-text-color = #fff;

$button-background-color-light = #8ab4de;
$button-background-color-dark = #324960;

$border-color = #fdad03;

$input-fields-light-background-color = #fcfcfc;
$input-fields-text-color = #000;
$input-fields-border-color = #8ab4de;

$box-background-color = #fff;

$studie-title-font-size= 1rem;
$studie-title-background-color= #fafafa;
$studie-title-text-color = #324960;


$studie_capacy-true-color= #8ab4de;//#9EC79F;
$studie_capacy-false-color= #fdad03;//#8A8A8A;
$studie_capacy-padding = .5rem 1rem;

$burger-menu-close-cross-color = #e10119;
$biomex-marked-warning-color = #e10119;

$footer-checkbox-label-background-color = #cce0f4;

$footer-link-container-border-color = #555252;


//Center Container
$lost-center-container-padding = 0 1.5rem

//$secondary-background-color = #d8f0d9

$text-color= #000000;
/*#region navigation*/
/*#region background*/
$nav-background-color= #fffff;
$nav_background-color_hover= #123456;
$nav_background-color_active= #fedcba;
$nav_dropdown_background-color= hsl(120, 81%, 96%);
$nav_dropdown_border-left-color= #cee3ce;
$nav_height= 100px;
$nav_link-shadow-color= #444
/*#endregion*/
/*#region text*/
$nav_text-color= #000000;
$nav_text-color_hover= #abcdef;
$nav-text-color-active= #654321;
$nav_text_font-size= 17px;
$nav_text_padding= 14px 16px;
$nav_border-top= 1px solid #333;
/*#endregion*/
/*#region hamburger*/
$nav_hamburger_size= 1.2em;
$nav_hamburger_padding= 0px;
/*#endregion*/
/*#endregion*/


$link_size=4rem;
$link_background_color=#ffffff;



