$container-width= 1440px;

$desktop-viewport = 1440px
$smal-desktop-view = 1200px;
$tablet-portrait-view = 1024px;
$special-viewport-button-area = 680px;
$special-viewport-footer-links-container = 620px;
$large-mobile-portrait-view = 510px